<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-5.0.0/css/bootstrap.min.css' %}">
    <link href="{% static 'custom_css/create_user.css' %}" rel="stylesheet">
</head>
<body>

    <div class="lightbox">
        <div class="content" >
            <div class="container">
                <br>
                <h5>建立帳號</h5>
                <br>
                <form action="">
                    <div class="card">
                        <div class="card-body form-group">
                            <h6>帳號</h6>
                            <input type="text" class="form-control my-1">
                            <h6>密碼</h6>
                            <input type="password" class="form-control my-1">
                            <br>
                            <button class="btn btn-primary">送出</button>
                            <button type='reset' class="btn btn-danger">清除</button>
                            <br><br>
                            <small><i class="fas fa-exclamation-circle" style="color: brown;"></i>&nbsp;帳號申請</small>
                        </div>
                    </div>
                </form>
          
            </div>     
        </div>
    </div>

    <script src="{% static 'plugin/bootstrap-5.0.0/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plugin/jquery.min.js' %}"></script>
    <script src="{% static 'plugin/ajax.js'%}"></script>
</body>
</html>