{% extends "base.html" %}
{% block title%}
<title>首頁</title>  
{% endblock %}

  {% block body %}
    <div class="row my-2">
      <div class="col-12">
        <a href="/selling" type="btn" class="btn btn-danger">售出 / 銷貨</a>
        <a href="/product_list" type="btn" class="btn btn-success">庫存資訊</a>
        <a href="/company_list" type="btn" class="btn btn-success">廠商資訊</a>
      </div>
    </div>
    <!-- /三格sample -->
      <div class="row my-2">
        <div class="col-md-4 col-sm-4 ">
          <div class="x_panel fixed_height_320"> 
            <h5>週報表 05/23 ~ 05/30</h5>
            <hr>

            <div class="row">
              <div class="col-12">
                <h6>售出</h6>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-4 ">
          <div class="x_panel tile fixed_height_320 overflow_hidden"> 
            <h5>TEST2</h5>
            <hr>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 ">
          <div class="x_panel tile fixed_height_320">
            <h5>TEST3</h5>
            <hr>
          </div>
        </div>
      </div>
    <!-- /三格sample end -->
 {% endblock %}

 {% block js %}


 <script>

 </script>
 {% endblock %}