{% extends "base.html" %}
{% load static %}
{% block title%}
<title>首頁</title>  
{% endblock %}

{% block header%}

{% endblock %}

{% block css %}
  <style>
    #hot_sale_text{
      position:absolute;
      top: 25%;
      right: 10px;
    }
    #main_revenue_text{
      position:absolute;
      top: 25%;
      right: 10px;
    }

  </style>
{% endblock %}

  {% block body %}
    <div class="row my-2">
      <div class="col-12">
        <a href="/sale/create_sale" type="btn" class="btn btn-danger">銷售 / 銷貨</a>
        <a href="/sale/sale_list" type="btn" class="btn btn-danger">銷售 / 銷貨紀錄</a>
        <a href="/purchase/purchase_list" type="btn" class="btn btn-primary">庫存資訊</a>
        <a href="/company/company_product_list" type="btn" class="btn btn-primary">商品資訊</a>
        <a href="/company/company_list" type="btn" class="btn btn-success">廠商資訊</a>
      </div>
    </div>
    <!-- /三格sample -->
      <div class="row my-2">
        {% csrf_token %}
        <div class="col-lg-4 col-md-12 col-sm-12 my-2">
          <div class="x_panel tile fixed_height_320 overflow_hidden" style="height: 100%;"> 
            <h5>即時訊息</h5>
            <hr>
            <div class="row my-2">
              <div class="col-lg-6 col-md-6 col-6">
                  <select id="realtime_content" class="form-control">
                      <option hidden value="">日</option>
                      <option value="realtime_by_date">日</option>
                      <option value="realtime_by_week">週</option>
                      <option value="realtime_by_month">月</option>
                      <option value="realtime_by_year">年</option>
                  </select>
              </div>
            </div>

            <div class="row my-2">
              <div class="col-12">
                <h5>時間 : <span id="realtime_date">{{realtime_content.date}}</span></h5>
              </div>
              <div class="col-lg-6 col-md-6 col-6">
                <h5><span class="badge bg-primary text-light">商品銷售額 : <span id="sale_sum">{{realtime_content.sale_sum}}</span></span><small></small></h5>
              </div>
              <div class="col-lg-6 col-md-6 col-6">
                <h5><span class="badge bg-primary text-light">商品銷售總數 : <span id="sale_amount_sum">{{realtime_content.sale_amount_sum}}</span></span></h5>
              </div>
              <div class="col-lg-6 col-md-6 col-6">
                <h5><span class="badge bg-primary text-light">扣除成本營收 : <span id="revenue_sum">{{realtime_content.revenue_sum}}</span></span></h5>
              </div>

              <div class="col-lg-6 col-md-6 col-6">
                <h5><span class="badge bg-primary text-light">進貨成本 : <span id="purchase_sum">{{realtime_content.purchase_sum}}</span></span><small></small></h5>
              </div>
              <div class="col-lg-6 col-md-6 col-6">
                <h5><span class="badge bg-primary text-light">進貨總數 : <span id="purchase_amount_sum">{{realtime_content.purchase_amount_sum}}</span></span></h5>
              </div>
              <div class="col-lg-6 col-md-6 col-6">
                <h5><span class="badge bg-primary text-light">庫存商品總數 : <span id="purchase_in_stock_sum">{{realtime_content.purchase_in_stock_sum}}</span></span></h5>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 my-2">
          <div class="x_panel tile fixed_height_320 overflow_hidden" style="height: 100%;"> 
            <h5>銷售狀況</h5>
            <hr>
            <div class="row my-2">
              <div class="col-lg-6 col-md-6 col-6">
                  <select id="revenue_status_content" class="form-control" onchange="revenue_status_content()">
                      <option hidden value="revenue_status_week">前7天</option>
                      <option value="revenue_status_week">前7天</option>
                      <option value="revenue_status_month">前30天</option>
                      <option value="revenue_status_year">前1年</option>
                  </select>
              </div>
            </div>
            <div class="row" id="revenue_status"></div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 my-2">
          <div class="x_panel tile fixed_height_320 overflow_hidden" style="height: 100%;">
            <h5>熱銷商品</h5>
            <hr>
            <div class="row my-2">
              <div class="col-lg-6 col-md-6 col-6">
                  <select id="hot_sale_content" class="form-control" onchange="hot_sale_content()">
                      <option hidden value="hot_sale_week">前7天</option>
                      <option value="hot_sale_week">前7天</option>
                      <option value="hot_sale_month">前30天</option>
                  </select>
              </div>
            </div>
            <div class="row">
                <div class="col-6">
                  <div id="hot_sale_doughnut">
                  </div>
                </div>
                <div class="col-6">
                  <table class="tile_info" id="hot_sale_text"></table>
                </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 my-2">
          <div class="x_panel tile fixed_height_320 overflow_hidden" style="height: 100%;"> 
            <h5>主要營收來源</h5>
            <hr>
                <div class="row my-2">
                  <div class="col-lg-6 col-md-6 col-6">
                      <select id="main_revenue_content" class="form-control" onchange="main_revenue_content()">
                          <option hidden value="main_revenue_week">前7天</option>
                          <option value="main_revenue_week">前7天</option>
                          <option value="main_revenue_month">前30天</option>
                      </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div id="main_revenue_doughnut">
                    </div>
                  </div>
                  <div class="col-6">
                    <table class="tile_info" id="main_revenue_text"></table>
                  </div>
                </div>
          </div>
        </div>
      </div>
    <!-- /三格sample end -->
    <br>
    <br>
 {% endblock %}

 {% block js %}
   <!-- Chart.js -->
   <script src="{% static 'plugin/Chart.js/dist/Chart.min.js' %}"></script>
 <script>
    window.onload = main_revenue_content();
    // main_revenue //
      function main_revenue_content(){
        var main_revenue_content = $('#main_revenue_content').val();
        $.ajax({
          url: '/home/main_revenue_content/', 
          type: 'POST',  
          headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
          data: {
            main_revenue_content : main_revenue_content
          },  
          success: function (data) {
              var data = JSON.parse(data);
              var s = ''
              for(i=0; i< data.data.bgc.length; i++){
                s += '<tr><td><p><i class="fa fa-square" style="color: '+data.data.bgc[i]+';"></i>'+data.data.labels[i]+'</p></td><td>'+data.data.data[i].toLocaleString('zh-Hant', { maximumFractionDigits: 2 })+'</td></tr>'
              }
              $('#main_revenue_text').html(s); 
              
              $('#main_revenue').remove();
              $('#main_revenue_doughnut').append('<canvas id="main_revenue"  height="140" width="140"></canvas>')
              new Chart(document.getElementById("main_revenue"), {
                type: 'doughnut',
                data: {
                  labels: data.data.labels,
                  datasets: [
                    {
                      label: "Top 5 類別",
                      backgroundColor:  data.data.bgc,
                      data:  data.data.data
                    }
                  ]
                },
                options: {
                  legend: { display: false },
                  title: {
                    display: true,
                    text: 'Top 5 類別'
                  }
                }
              });
          }
      });
      }
    // end main_revenue //


    //realtime//
      $('#realtime_content').change(function(){
        var realtime_content = $('#realtime_content').val();
        $.ajax({
          url: '/home/realtime_content/', 
          type: 'POST',  
          headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
          data: {
            realtime_content : realtime_content
          },  
          success: function (data) {
              var data = JSON.parse(data);
              $('#realtime_date').html(data.data.date);
              $('#sale_sum').html(data.data.sale_sum);
              $('#sale_amount_sum').html(data.data.sale_amount_sum);
              $('#revenue_sum').html(data.data.revenue_sum);
              $('#purchase_sum').html(data.data.purchase_sum);
              $('#purchase_amount_sum').html(data.data.purchase_amount_sum);
              $('#purchase_in_stock_sum').html(data.data.purchase_in_stock_sum);
          }
      });
      });

    // end realtime //
      
    // bar //
    window.onload =  revenue_status_content();
    function revenue_status_content(){
          var revenue_status_content = $('#revenue_status_content').val();
          $.ajax({
            url: '/home/revenue_status_content/', 
            type: 'POST',  
            headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
            data: {
              revenue_status_content : revenue_status_content
            },  
            success: function (data) {
                var data = JSON.parse(data);
                // Bar chart
                $('#revenue_status_bar').remove();
                $('#revenue_status').append('<canvas id="revenue_status_bar"></canvas>')
                new Chart(document.getElementById("revenue_status_bar"), {
                  type: 'bar',
                  data: {
                    labels: data.data.labels,
                    datasets: [
                      {
                        label: "商品銷總售額",
                        backgroundColor: data.data.bgc,
                        data: data.data.data
                      }
                    ]
                  },
                  options: {
                    legend: { display: false },
                    title: {
                      display: true,
                      text: '商品銷總售額'
                    }
                  }
                });
            }
        });
    }
    // end bar //


  
    // doughnut //
    window.onload = hot_sale_content();
    function hot_sale_content(){
        var hot_sale_content = $('#hot_sale_content').val();
        $.ajax({
          url: '/home/hot_sale_content/', 
          type: 'POST',  
          headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
          data: {
            hot_sale_content : hot_sale_content
          },  
          success: function (data) {
              var data = JSON.parse(data);
              var s = ''
              for(i=0; i< data.data.bgc.length; i++){
                s += '<tr><td><p><i class="fa fa-square" style="color: '+data.data.bgc[i]+';"></i>'+data.data.labels[i]+'</p></td><td>'+data.data.data[i]+'件</td></tr>'
              }
              $('#hot_sale_text').html(s); 
           
              $('#hot_sale').remove();
              $('#hot_sale_doughnut').append('<canvas id="hot_sale"  height="140" width="140"></canvas>')
              new Chart(document.getElementById("hot_sale"), {
                type: 'doughnut',
                data: {
                  labels: data.data.labels,
                  datasets: [
                    {
                      label: "Top 5 類別",
                      backgroundColor:  data.data.bgc,
                      data:  data.data.data
                    }
                  ]
                },
                options: {
                  legend: { display: false },
                  title: {
                    display: true,
                    text: 'Top 5 類別'
                  }
                }
              });
          }
      });
    }
    // end doughnut //


 </script>
 {% endblock %}