{% extends 'base.html' %}
{% load static %}
{% block title %} 
<title>廠商資訊</title>
{% endblock %}

{% block header%}
    <!-- Datatables -->
    <link href="{% static '/dashboard_plugin/datatable/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard_plugin/datatable/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static '/dashboard_plugin/datatable/iCheck/skins/flat/green.css' %}" rel="stylesheet">
{% endblock %}

{% block css %}
<style>
    #company_delete_btn{
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    .company_delete_lightbox{
        z-index:9999;
        position: fixed;
        left: 0;    /* 靠左上角定位 */
        top: 0;	  
        width: 100%;
        height: 100vh;    /* view-width. height  */
        background-color: rgba(0,0,0,.5);
        align-items: center;
        justify-content: center;
        display: none;
    }
    .company_delete_lightbox.active{
        display: flex;
    }
    .company_delete_content{
        width: 250px;
        height: 150px;
        background-color: #ccc;
        border-radius: 10px;
        display:flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow-y:auto;
    }


    .company_info_lightbox{
        z-index:5000;
        position: fixed;
        left: 0;    /* 靠左上角定位 */
        top: 0;
        width: 100%;
        height: 100vh;    /* view-width. height  */
        background-color: rgba(0,0,0,.5);
        align-items: center;
        justify-content: center;
        display: none;
      
    }
    .company_info_lightbox.active{
        display: flex;
    }
    .company_info_content{
        width: 1200px;
        height: 90%;
        background-color: #ccc;
        position: relative;
        overflow-y:auto;
    }



</style>
{% endblock %}


{% block body %} 
<!-- 廠商列表 -->
<div class="container" role="main">
    <div class="company_delete_lightbox">
        <div class="company_delete_content">
            <div>
                <h5>確定要刪除？</h5><br>
                <div>
                    <button class="btn btn-success" id='company_delete_true'>確認</button>
                    <button class="btn btn-danger" id="close_company_delete_check">取消</button>
                </div>
            </div>
        </div>
    </div>

    <div class="company_info_lightbox">
        <div class="company_info_content">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <h4 style="text-align: center;">廠商資料更新</h4><hr>
                    <div class="row my-3">
                        <div class="col-lg-3 col-md-12 col-12">
                            <h6>廠商＊</h6>
                            <input class="form-control" type="text" id="company_name">
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-lg-2 col-md-6 col-6">
                            <h6>縣 / 市</h6>
                            <input class="form-control" type="text" id="region">
                        </div>
                        <div class="col-lg-2 col-md-6 col-6">
                            <h6>鄉 / 鎮 / 區</h6>
                            <input class="form-control" type="text" id="town">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <h6>地址</h6>
                            <input class="form-control" type="text" id="address">
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-lg-3 col-md-8 col-8">
                            <h6>公司電話</h6>
                            <input class="form-control" type="text" id="phone">
                        </div>
                        <div class="col-lg-1 col-md-4 col-4">
                            <h6>分機</h6>
                            <input class="form-control" type="text" id="ext">
                        </div>
                        <div class="col-lg-2 col-md-12 col-12">
                            <h6>公司聯絡人</h6>
                            <input class="form-control" type="text" id="contact_person">
                        </div>
                        <div class="col-lg-4 col-md-12 col-12">
                            <h6>Email&nbsp;&nbsp;&nbsp;<small id="email_check" style="color: brown;"></small></h6>
                            <input class="form-control" type="email" id="email">
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-lg-3 col-md-8 col-8">
                            <h6>手機</h6>
                            <input class="form-control" type="text" id="mobile_phone">
                        </div>
                        <div class="col-lg-2 col-md-4 col-4">
                            <h6>聯絡人</h6>
                            <input class="form-control" type="text" id="mobile_contact_person">
                        </div>
                        <div class="col-lg-4 col-md-12 col-12">
                            <h6>Email&nbsp;&nbsp;&nbsp;<small id="mobile_email_check" style="color: brown;"></small></h6>
                            <input class="form-control" type="email" id="mobile_email">
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-12 col-12">
                            <h6>公司網址</h6>
                            <input class="form-control" type="text" id="url" >
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-12 col-12">
                            <h6>統一編號</h6>
                            <input class="form-control" type="text" id="uniform_numbers">
                        </div>
                    </div>
    
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-12 col-12">
                            <h6>其他資訊</h6>
                            <textarea style="width:100%;height:200px;" id='info'></textarea>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary" id="company_info_update">更新</button>
                    <button class="btn btn-danger" id="company_info_close" onclick="company_info_close()">關閉</button>
                    <button class="btn btn-danger" id="company_delete_btn">刪除廠商</button>
                </div>
            </div>
        </div>
    </div>

    <h4>廠商資訊</h4><a href="/company/create_company"><button class="btn-success">新增廠商</button></a>
    <div class="row my-1">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>廠商列表</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" id="company_list">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <p class="text-muted font-13 m-b-30">
                                    廠商列表
                                </p>
                                <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>廠商</th>
                                            <th>地址</th>
                                            <th>電話</th>
                                            <th>Email</th>
                                            <th>網址</th>
                                            <th>統編</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in company_list%}
                                        <tr>
                                            <td><a href="#" onclick="company_info_btn('{{i.id}}')">{{i.name}}</a></td>
                                            <td><a href="https://www.google.com.tw/maps/place/{{i.region}}{{i.town}}{{i.address}}" target="_blank">{{i.region}}{{i.town}}{{i.address}}</a></td>
                                            <td>{{i.phone}}</td>
                                            <td><a href="mailto:{{i.email}}">{{i.email}}</a></td>
                                            {% if i.url %}
                                                <td><a href="{{i.url}}" target="_blank"><i class="fas fa-link"></i>&nbsp;網址</a></td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                            <td>{{i.uniform_numbers}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / 廠商列表 -->

{% endblock %}


{% block js %}
    <!-- iCheck -->
    <script src="{% static '/dashboard_plugin/datatable/iCheck/icheck.min.js' %}"></script>
    <!-- Datatables -->
    <script src="{% static '/dashboard_plugin/datatable/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/pdfmake/build/vfs_fonts.js' %}"></script>

    <script>

    //廠商管理
        var company_update_id =''
        function company_info_btn(company_id){
            company_update_id = company_id
            $.ajax({
                url: '/company/get_update_company/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: company_id
                },  
                success: function (data) {
                    var data = JSON.parse(data);
                    $('#company_name').val(data.data.name);
                    $('#region').val(data.data.region);
                    $('#town').val(data.data.town);
                    $('#address').val(data.data.address);
                    $('#phone').val(data.data.phone);
                    $('#ext').val(data.data.ext);
                    $('#contact_person').val(data.data.contact_person);
                    $('#email').val(data.data.email);
                    $('#mobile_phone').val(data.data.mobile_phone);
                    $('#mobile_contact_person').val(data.data.mobile_contact_person);
                    $('#mobile_email').val(data.data.mobile_email);
                    $('#uniform_numbers').val(data.data.uniform_numbers);
                    $('#url').val(data.data.url);
                    $('#info').val(data.data.info);
                    $('.company_info_lightbox').addClass('active')
                }
            });
        };


        var email_true = true
        $(document).ready(function(){
            $("body").on("change", "#email", function (){
                $('#email_check').empty();
                $Emailchecking=IsEmail($("#email").val());
                if($Emailchecking==false){
                    document.getElementById('email_check').innerHTML += '<i class="fas fa-exclamation-circle" style="color: brown;"></i>請填寫正確的E-MAIL格式'
    
                }          
            })
            function IsEmail(email) { 
                var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    if(!regex.test(email)  && email != '') {
                        email_true = false; 
                        return false;
                    }else{
                        email_true = true; 
                        return true;
                } 
            }              
        });
    
        var mobile_email_true = true
        $(document).ready(function(){
            $("body").on("change", "#mobile_email", function (){
                $('#mobile_email_check').empty();
                $Emailchecking=IsEmail($("#mobile_email").val());
                if($Emailchecking==false){
                    document.getElementById('mobile_email_check').innerHTML += '<i class="fas fa-exclamation-circle" style="color: brown;"></i>請填寫正確的E-MAIL格式'
                }          
            })
            function IsEmail(email) { 
                var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    if(!regex.test(email)  && email != '') {
                        mobile_email_true = false; 
                        return false;
                    }else{
                        mobile_email_true = true;
                        return true;
                } 
            }              
        });

        function get_data(){
            var name = $('#company_name').val();
            var region = $('#region').val();
            var town = $('#town').val();
            var address = $('#address').val();
            var phone = $('#phone').val();
            var ext = $('#ext').val();
            var contact_person = $('#contact_person').val();
            var email = $('#email').val();
            var mobile_phone = $('#mobile_phone').val();
            var mobile_contact_person = $('#mobile_contact_person').val();
            var mobile_email = $('#mobile_email').val();
            var uniform_numbers = $('#uniform_numbers').val();
            var url = $('#url').val();
            var info = $('#info').val();
            return {'id':company_update_id, 'name':name,'region':region, 'town': town, 
            'address':address,'phone':phone, 'ext': ext,
            'contact_person':contact_person,'email':email, 'mobile_phone': mobile_phone,
            'mobile_contact_person':mobile_contact_person,'mobile_email':mobile_email, 'uniform_numbers': uniform_numbers,
            'url':url,'info':info}
        }

        $('#company_info_update').click(function(){
            var data = get_data()
            console.log(data)
            if(!data['name'] || data['name'].trim().length === 0){
                alert ('請輸入廠商名')
            }else if(email_true == false){
                alert ('請填寫正確的E-MAIL格式')
            }else if(mobile_email_true == false){
                alert ('請填寫正確的E-MAIL格式')
            }
            else{
                $.ajax({
                    url: '/company/update_company/', 
                    type: 'POST',  
                    headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                    data: {
                        data: JSON.stringify(data),
                    },  
                    success: function (data) {
                        var data = JSON.parse(data);
                        if(data.data == 'success'){
                            alert('更新成功')
                            window.location.reload();
                        }else if(data.data == 'exists'){
                            alert ('公司已存在')
                        }
                    }
                });
            }
        });

        $('#company_delete_true').click(function(){
            $.ajax({
                url: '/company/delete_company/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: company_update_id,
                },  
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data == 'success'){
                        alert('刪除成功')
                        window.location.reload();
                    }else if(data.data == 'error'){
                        alert('刪除失敗')
                    }
                }
            });
        });

        $('#company_delete_btn').click(function(){
            $('.company_delete_lightbox').addClass('active')
        });

        $('#close_company_delete_check').click(function(){
            $('.company_delete_lightbox').removeClass('active')
        });

        function company_info_close(){
            $('.company_info_lightbox').removeClass('active')
        }


    //廠商管理
    </script>

{% endblock %}