{% extends  'base.html' %}
{% load static %}
{% block title%}
<title>新增商品</title>  
{% endblock %}


{% block body %}
<div class="container">
    
    <h5>新增商品</h5>
    <div class="row">
        <div class="card col-lg-12 col-md-12 col-12">
            <div class="card-body">
                <div class="row my-3">
                    {% csrf_token %}
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>廠商＊</h6>
                        <select class="form-control" id="company_id">
                            <option hidden select value="">廠商</option>
                            {% if company_list %}
                                {% for i in company_list %}
                                    <option value="{{i.id}}">{{i}}</option>
                                {% endfor %}
                            {% else %}
                                <option value="">沒有廠商</option>
                            {% endif %}
                        </select>
                    </div>        
                    <div class="col-lg-3 col-md-6 col-6" id="types_custom">
                        <h6>種類＊</h6>
                        <select class="form-control" id="types">
                            <option hidden select value="">種類</option>
                            <option value="custom">自行新增</option>
                            
                        </select>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-lg-3 col-md-6 col-6" id="brand_custom">
                        <h6>品牌＊</h6>
                        <select class="form-control" id="brand">
                            <option hidden select value="">品牌</option>
                            <option value="custom">自行新增</option>
                        </select>
                    </div>
                </div>
       
                <div class="row my-3">

                    <div class="col-lg-3 col-md-6 col-6" id="model_custom">
                        <h6>型號 / 編號＊</h6>
                        <select class="form-control" id="model">
                            <option hidden select value="">型號 / 編號</option>
                            <option value="custom">自行新增</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6" id="name_custom">
                        <h6>品名＊</h6>
                        <select class="form-control" id="name">
                            <option hidden select value="">品名</option>
                            <option value="custom">自行新增</option>
                        </select>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-lg-6 col-md-12 col-12">
                        <h6>其他資訊</h6>
                        <textarea style="width:100%;height:100px;" id="info"></textarea>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-lg-12 col-md-12 col-12">
                        <button class="btn btn-success" id="sub">送出</button>
                        <button class="btn btn-danger" id="reset">清除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}


{% block js%}
    <script>
        $('#company_id').change(function(){
            var id_ = $('#company_id').val();
            document.getElementById('types').innerHTML = '<option hidden select value="">種類</option></option><option value="custom">自行新增</option>'
            document.getElementById('brand').innerHTML = '<option hidden select value="">品牌</option></option><option value="custom">自行新增</option>'
            document.getElementById('model').innerHTML = '<option hidden select value="">型號 / 編號</option></option><option value="custom">自行新增</option>'
            document.getElementById('name').innerHTML = '<option hidden select value="">品名</option></option><option value="custom">自行新增</option>'
            $.ajax({
                url: '/get_company_product_types/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0 && data.data != 'error'){
                        var show_types = '<option hidden select value="">種類</option><option value="custom">自行新增</option>'
                        for(i=0; i<data.data.length; i++){
                            show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                        }
                        document.getElementById('types').innerHTML = show_types
                    }
                }
            });
        });

        $('#types').change(function(){
            var id_ = $('#company_id').val();
            var types = $('#types').val();
            document.getElementById('brand').innerHTML = '<option hidden select value="">品牌</option></option><option value="custom">自行新增</option>'
            document.getElementById('model').innerHTML = '<option hidden select value="">型號 / 編號</option></option><option value="custom">自行新增</option>'
            document.getElementById('name').innerHTML = '<option hidden select value="">品名</option></option><option value="custom">自行新增</option>'
            $.ajax({
                url: '/get_company_product_brand/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_,
                    types: types
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0 && data.data != 'error'){
                        var show_types = '<option hidden select value="">品牌</option><option value="custom">自行新增</option>'
                        for(i=0; i<data.data.length; i++){
                            show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                        }
                        document.getElementById('brand').innerHTML = show_types
                    }
                }
            });
        });


        $('#brand').change(function(){
            var id_ = $('#company_id').val();
            var types = $('#types').val();
            var brand = $('#brand').val();
            document.getElementById('model').innerHTML = '<option hidden select value="">型號 / 編號</option></option><option value="custom">自行新增</option>'
            document.getElementById('name').innerHTML = '<option hidden select value="">品名</option></option><option value="custom">自行新增</option>'
            $.ajax({
                url: '/get_company_product_model/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_,
                    types: types,
                    brand: brand
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0 && data.data != 'error'){
                        var show_types = '<option hidden select value="">型號 / 編號</option><option value="custom">自行新增</option>'
                        for(i=0; i<data.data.length; i++){
                            show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                        }
                        document.getElementById('model').innerHTML = show_types
                    }
                }
            });
        });



        $('#model').change(function(){
            var id_ = $('#company_id').val();
            var types = $('#types').val();
            var brand = $('#brand').val();
            var model = $('#model').val();
            document.getElementById('name').innerHTML = '<option hidden select value="">品名</option></option><option value="custom">自行新增</option>'
            $.ajax({
                url: '/get_company_product_name/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_,
                    types: types,
                    brand: brand,
                    model:model
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0){
                        var show_types = '<option hidden select value="">品名</option><option value="custom">自行新增</option>'
                        for(i=0; i<data.data.length; i++){
                            show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                        }
                        document.getElementById('name').innerHTML = show_types
                    }
                }
            });
        });





        $("#brand").change(function(){
            if($("#brand").val() == 'custom'){
                $('#brand_custom').empty();
                document.getElementById('brand_custom').innerHTML = '<h6>品牌＊</h6><input class="form-control" type="text" id="brand">'
            }
        });

        $("#types").change(function(){
            if($("#types").val() == 'custom'){
                $('#types_custom').empty();
                document.getElementById('types_custom').innerHTML = '<h6>種類＊</h6><input class="form-control" type="text" id="types">'
            }
        });

        $("#model").change(function(){
            if($("#model").val() == 'custom'){
                $('#model_custom').empty();
                document.getElementById('model_custom').innerHTML = '<h6>型號 / 編號＊</h6><input class="form-control" type="text" id="model">'
            }
        });

        $("#name").change(function(){
            if($("#name").val() == 'custom'){
                $('#name_custom').empty();
                document.getElementById('name_custom').innerHTML = '<h6>品名＊</h6><input class="form-control" type="text" id="name">'
            }
        });

        $('#reset').click(function(){
            window.location.reload();
        });

        function get_data(){
            var company_id = $('#company_id').val();
            var types = $('#types').val();
            var brand = $('#brand').val();
            var model = $('#model').val();
            var name = $('#name').val();
            var info = $('#info').val();
            return {'company_id':company_id,'types':types, 'brand':brand,'model': model, 'name':name,'info':info}
        };

        $('#sub').click(function(){
            var data = get_data();
            if(data['company_id'] == ''){
                alert ('請選擇廠商')
            }else if(!data['types'] || data['types'].trim().length === 0){
                alert ('請選擇種類')
            }else if(!data['brand'] || data['brand'].trim().length === 0){
                alert ('請選擇品牌')
            }else if(!data['model'] || data['model'].trim().length === 0){
                alert ('請選擇型號 / 編號')
            }else if(!data['name'] || data['name'].trim().length === 0){
                alert ('請輸入品名')
            }else{
                var upload = new FormData();                       // upload(因為image是file格式所以要跟json分開放 需用form的方式) 不能使用-> data:{data:JSON.stringify(data), image:image}
                upload.append("csrfmiddlewaretoken",$("[name='csrfmiddlewaretoken']").val());   
                upload.append("data",JSON.stringify(data));        //                           jaon類型使用 request.POST.get('data')
                $.ajax({
                    url: '/create_company_product/', 
                    type: 'POST',  
                    data: upload,
                    contentType: false,  
                    processData: false,   
                    success: function (data) {
                        var data = JSON.parse(data);
                        if(data.data == 'success'){
                            alert ('新增成功')
                            window.location.reload();
                        }else if(data.data == 'error'){
                            alert ('新增失敗')
                            window.location.reload();
                        }else if(data.data == 'exists'){
                            alert ('新增失敗 : 型號與品名重複')
                        }
                    }
                });
            }
           
        });


    </script>
{% endblock%}