{% extends 'base.html' %}
{% load static %}
{% block title%}
<title>庫存資訊</title>
{% endblock%}

{% block header %}
    <!-- Datatables -->
    <link href="{% static '/dashboard_plugin/datatable/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/dashboard_plugin/datatable/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static '/dashboard_plugin/datatable/iCheck/skins/flat/green.css' %}" rel="stylesheet">

    <!-- fancybox -->
    <link href="{% static '/plugin/fancybox/jquery.fancybox.min.css' %}" rel="stylesheet">
{% endblock %}

{% block css%}
<style>
    #search{
        position: absolute;
        bottom: -4px;
        right: 10px;
    }
</style>
{% endblock%}

{% block body %}
<div class="container" role="main">
    <h4>庫存資訊</h4>
        <a href="/purchase/create_purchase"><button class="btn-danger">商品進貨</button></a>
    <div class="row my-1">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>庫存查詢</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
   
                                <div class="col-lg-3 col-md-3 col-6">
                                    <h6>廠商</h6>
                                    <select id="search_company" class="form-control">
                                        <option hidden value="">廠商</option>
                                        {% for i in company_list%}
                                            <option value="{{i.id}}">{{i.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6">
                                    <h6>類別</h6>
                                    <select  id="search_types" class="form-control">
                                        <option hidden value="">類別</option>
                                        {% for i in company_product_types_list%}
                                            <option value="{{i}}">{{i}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6">
                                    <h6>關鍵字</h6>
                                    <input id="search_keyword" type="text" class="form-control">
                                </div>
                                <div class="col-lg-3 col-md-3 col-6" id='search'>
                                    <button class="btn btn-primary" id="search_btn">查詢</button>
                                    <button class="btn btn-danger" id="search_btn_reset">清除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block js %}
    <!-- iCheck -->
    <script src="{% static '/dashboard_plugin/datatable/iCheck/icheck.min.js' %}"></script>
    <!-- Datatables -->
    <script src="{% static '/dashboard_plugin/datatable/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/pdfmake/build/vfs_fonts.js' %}"></script>

    <!-- fancybox -->
    <script src="{% static '/plugin/fancybox/jquery.fancybox.min.js' %}"></script>
{% endblock %}