{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>進貨</title>
{% endblock %}

{% block css %}
<style>
    .show_image{
        width: auto;
        height: auto;
        max-width: 50%;
        max-height: 50%;
    }
</style>
{% endblock%}


{% block body %}
<div class="container">
    <h5>商品進貨</h5>
    <div class="row">
        <div class="card col-lg-12 col-md-12 col-12">
            <div class="card-body">
                <div class="row my-3">
                    {% csrf_token %}
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>廠商＊</h6>
                        <select class="form-control" id="company_id">
                            <option hidden select value="">廠商</option>
                            {% if company_list %}
                                {% for i in company_list %}
                                    <option value="{{i.id}}">{{i}}</option>
                                {% endfor %}
                            {% else %}
                                <option value="">沒有廠商</option>
                            {% endif %}
                        </select>
                    </div>        
                    <div class="col-lg-3 col-md-6 col-6" id="types_custom">
                        <h6>種類＊</h6>
                        <select class="form-control" id="types">
                            <option hidden select value="">種類</option>
                        </select>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-lg-3 col-md-6 col-6" id="brand_custom">
                        <h6>品牌＊</h6>
                        <select class="form-control" id="brand">
                            <option hidden select value="">品牌</option>
                        </select>
                    </div>
                </div>
                
       
                <div class="row my-3">
                    <div class="col-lg-3 col-md-6 col-6" id="model_custom">
                        <h6>型號 / 編號＊</h6>
                        <select class="form-control" id="model">
                            <option hidden select value="">型號 / 編號</option>>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>品名＊</h6>
                        <select class="form-control" id="name">
                            <option hidden select value="">品名</option>
                        </select>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>進價(單價)＊</h6>
                        <input class="form-control" type="number" step=any id="purchase_price">
                    </div>
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>售價(單價)＊</h6>
                        <input class="form-control" type="number" step=any id="selling_price">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>進貨數量＊</h6>
                        <input class="form-control" type="number" step=any id="amount">
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>進貨日期</h6>
                        <input class="form-control" type="date" id="purchase_date">
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>圖片1</h6>
                        <img src="" alt="" id="show_image1" class="show_image"><br>
                        <button type="btn" class="btn-danger" id="delete_image1" onclick="delete_image(1)" style="display: none;">刪除照片</button>
                        <input type="file" id="image1" accept="image/gif, image/jpeg, image/png" multiple="multiple" class="image_up">
                    </div>
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>圖片2</h6>
                        <img src="" alt="" id="show_image2" class="show_image"><br>
                        <button type="btn" class="btn-danger" id="delete_image2" onclick="delete_image(2)" style="display: none;">刪除照片</button>
                        <input type="file" id="image2" accept="image/gif, image/jpeg, image/png" multiple="multiple" class="image_up">
                    </div>
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>圖片3</h6>
                        <img src="" alt="" id="show_image3" class="show_image"><br>
                        <button type="btn" class="btn-danger" id="delete_image3"  onclick="delete_image(3)"  style="display: none;">刪除照片</button>
                        <input type="file" id="image3" accept="image/gif, image/jpeg, image/png" multiple="multiple" class="image_up">
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-lg-6 col-md-12 col-12">
                        <h6>其他資訊</h6>
                        <textarea style="width:100%;height:200px;" id="info"></textarea>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-lg-12 col-md-12 col-12">
                        <button class="btn btn-primary" id="sub">送出</button>
                        <button class="btn btn-danger" id="reset">清除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}


{% block js%}
<script>
    window.onload=today;
    function today() {
        var NowDate = new Date();
        var y = NowDate.getFullYear();
        var m = NowDate.getMonth() + 1;
        var d = NowDate.getDate();
        m = ("0" + m).slice(-2);
        d = ("0" + d).slice(-2);
        document.getElementById('purchase_date').value = y + '-'+ m + '-' + d;
    };

    $('#company_id').change(function(){
        var id_ = $('#company_id').val();
        document.getElementById('types').innerHTML = '<option hidden select value="">種類</option>'
        document.getElementById('brand').innerHTML = '<option hidden select value="">品牌</option>'
        document.getElementById('model').innerHTML = '<option hidden select value="">型號 / 編號</option>'
        document.getElementById('name').innerHTML = '<option hidden select value="">品名</option>'
        $.ajax({
            url: '/company/get_company_product_types/', 
            type: 'POST',  
            headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
            data: {
                company_id: id_
            },
            success: function (data) {
                var data = JSON.parse(data);
                if(data.data.length != 0 && data.data != 'error'){
                    var show_types = '<option hidden select value="">種類</option>'
                    for(i=0; i<data.data.length; i++){
                        show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                    }
                    document.getElementById('types').innerHTML = show_types
                }else{
                    document.getElementById('types').innerHTML ='<option hidden select value="">沒有商品</option>'
                }
            }
        });
    });

    $('#types').change(function(){
        document.getElementById('brand').innerHTML = '<option hidden select value="">品牌</option>'
        document.getElementById('model').innerHTML = '<option hidden select value="">型號 / 編號</option>'
        document.getElementById('name').innerHTML = '<option hidden select value="">品名</option>'
        var id_ = $('#company_id').val();
        var types = $('#types').val();
        $.ajax({
            url: '/company/get_company_product_brand/', 
            type: 'POST',  
            headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
            data: {
                company_id: id_,
                types: types
            },
            success: function (data) {
                var data = JSON.parse(data);
                if(data.data.length != 0 && data.data != 'error'){
                    var show_types = '<option hidden select value="">品牌</option>'
                    for(i=0; i<data.data.length; i++){
                        show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                    }
                    document.getElementById('brand').innerHTML = show_types
                }
            }
        });
    });


    $('#brand').change(function(){
        document.getElementById('model').innerHTML = '<option hidden select value="">型號 / 編號</option>'
        document.getElementById('name').innerHTML = '<option hidden select value="">品名</option>'
        var id_ = $('#company_id').val();
        var types = $('#types').val();
        var brand = $('#brand').val();
        $.ajax({
            url: '/company/get_company_product_model/', 
            type: 'POST',  
            headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
            data: {
                company_id: id_,
                types: types,
                brand: brand
            },
            success: function (data) {
                var data = JSON.parse(data);
                if(data.data.length != 0 && data.data != 'error'){
                    var show_types = '<option hidden select value="">型號 / 編號</option>'
                    for(i=0; i<data.data.length; i++){
                        show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                    }
                    document.getElementById('model').innerHTML = show_types
                }
            }
        });
    });


    $('#model').change(function(){
        document.getElementById('name').innerHTML = '<option hidden select value="">品名</option>'
        var id_ = $('#company_id').val();
        var types = $('#types').val();
        var brand = $('#brand').val();
        var model = $('#model').val();
        $.ajax({
            url: '/company/get_company_product_name/', 
            type: 'POST',  
            headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
            data: {
                company_id: id_,
                types: types,
                brand: brand,
                model:model
            },
            success: function (data) {
                var data = JSON.parse(data);
                if(data.data.length != 0){
                    var show_types = '<option hidden select value="">品名</option>'
                    for(i=0; i<data.data.length; i++){
                        show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                    }
                    document.getElementById('name').innerHTML = show_types
                }
            }
        });
    });

    $('#name').change(function(){
        var id_ = $('#company_id').val();
        var types = $('#types').val();
        var brand = $('#brand').val();
        var model = $('#model').val();
        var name = $('#name').val();
        $.ajax({
            url: '/company/get_company_product/', 
            type: 'POST',  
            headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
            data: {
                company_id: id_,
                types: types,
                brand: brand,
                model:model,
                name:name
            },
            success: function (data) {
                var data = JSON.parse(data);
                data = data.data
                $('#purchase_price').val(data.purchase_price);
                $('#selling_price').val(data.selling_price);
                $('#info').val(data.info);
                if(data.image1 != ''){
                    $('#show_image1').attr('src', '/'+data.image1)
                    document.getElementById('delete_image1').style.display = 'block'
                }
                if(data.image2 != ''){
                    $('#show_image2').attr('src', '/'+data.image2)
                    document.getElementById('delete_image2').style.display = 'block'
                }
                if(data.image3 != ''){
                    $('#show_image3').attr('src', '/'+data.image3)
                    document.getElementById('delete_image3').style.display = 'block'
                }
            }
        });
    });

    function get_image(){
        var upload_image = []
        var image_list = $("*[class='image_up']")
        for(i=0; i<image_list.length; i++){
            var input = image_list[i]
            if(input.files && input.files[0]){
                upload_image.push(input.files[0])
            }else{
                upload_image.push('')
            }
        }
        return upload_image
    }
    
    function delete_image(num){
        num = String(num)
        document.getElementById('show_image'+ num).src = ''
        $('#image'+ num).val('');
        document.getElementById('delete_image' + num).style.display = 'none'
    }

    $("*[class='image_up']").change(function(){
        var image_list = $("*[class='image_up']")
        for(i=0; i<image_list.length; i++){
            var input = image_list[i]
            if(input.files && input.files[0]){
                var _id = image_list[i].id
                //console.log(_id)
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#show_"+_id).attr('src', e.target.result);
                }
                document.getElementById('delete_image'+ String(i+1)).style.display = 'block'
                reader.readAsDataURL(input.files[0]);
            }
        }
    })


</script>

{% endblock %}