{% extends  'base.html' %}
{% load static %}
{% block title%}
<title>商品進貨</title>  
{% endblock %}


{% block body %}
<div class="container">
    <h5>商品進貨</h5>
    <div class="row">
        <div class="card col-lg-12 col-md-12 col-12">
            <div class="card-body">
                <div class="row my-3">
                    {% csrf_token %}
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>廠商＊</h6>
                        <select class="form-control" id="company_id">
                            <option hidden select value="">廠商</option>
                            {% if company_list %}
                                {% for i in company_list %}
                                    <option value="{{i.id}}">{{i}}</option>
                                {% endfor %}
                            {% else %}
                                <option value="">沒有廠商</option>
                            {% endif %}
                        </select>
                    </div>        
                    <div class="col-lg-3 col-md-6 col-6" id="types_custom">
                        <h6>種類＊</h6>
                        <select class="form-control" id="types">
                            <option hidden select value="">種類</option>
                        </select>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-lg-3 col-md-6 col-6" id="brand_custom">
                        <h6>品牌＊</h6>
                        <select class="form-control" id="brand">
                            <option hidden select value="">品牌</option>
                        </select>
                    </div>
                </div>
                
       
                <div class="row my-3">
                    <div class="col-lg-3 col-md-6 col-6" id="model_custom">
                        <h6>型號 / 編號＊</h6>
                        <select class="form-control" id="model">
                            <option hidden select value="">型號 / 編號</option>>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>品名＊</h6>
                        <select class="form-control" id="name">
                            <option hidden select value="">品名</option>
                        </select>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>進價＊</h6>
                        <input class="form-control" type="number" step=any id="purchase_price">
                    </div>
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>售價＊</h6>
                        <input class="form-control" type="number" step=any id="selling_price">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>數量＊</h6>
                        <input class="form-control" type="number" step=any id="amount">
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>進貨日期</h6>
                        <input class="form-control" type="date" id="purchase_date">
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-lg-2 col-md-6 col-6">
                        <h6>圖片1</h6>
                        <input class="" type="file" id="image" accept="image/*" multiple="multiple">
                    </div>
                    <div class="col-lg-2 col-md-6 col-6">
                        <h6>圖片2</h6>
                        <input class="" type="file" id="image2" accept="image/*" multiple="multiple">
                    </div>
                    <div class="col-lg-2 col-md-6 col-6">
                        <h6>圖片3</h6>
                        <input class="" type="file" id="image3" accept="image/*" multiple="multiple">
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-lg-6 col-md-12 col-12">
                        <h6>其他資訊</h6>
                        <textarea style="width:100%;height:100px;" id="info"></textarea>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-lg-12 col-md-12 col-12">
                        <button class="btn btn-success" id="sub">送出</button>
                        <button class="btn btn-danger" id="reset">清除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}


{% block js%}
    <script>
        window.onload=today;
        function today() {
            var NowDate = new Date();
            var y = NowDate.getFullYear();
            var m = NowDate.getMonth() + 1;
            var d = NowDate.getDate();
            m = ("0" + m).slice(-2);
            d = ("0" + d).slice(-2);
            document.getElementById('purchase_date').value = y + '-'+ m + '-' + d;
          };

        $('#company_id').change(function(){
            var id_ = $('#company_id').val();
            document.getElementById('types').innerHTML = '<option hidden select value="">種類</option>'
            document.getElementById('brand').innerHTML = '<option hidden select value="">品牌</option>'
            document.getElementById('model').innerHTML = '<option hidden select value="">型號 / 編號</option>'
            document.getElementById('name').innerHTML = '<option hidden select value="">品名</option>'
            $.ajax({
                url: '/get_company_product_types/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0 && data.data != 'error'){
                        var show_types = '<option hidden select value="">種類</option>'
                        for(i=0; i<data.data.length; i++){
                            show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                        }
                        document.getElementById('types').innerHTML = show_types
                    }else{
                        document.getElementById('types').innerHTML ='<option hidden select value="">沒有商品</option>'
                    }
                }
            });
        });

        $('#types').change(function(){
            document.getElementById('brand').innerHTML = '<option hidden select value="">品牌</option>'
            document.getElementById('model').innerHTML = '<option hidden select value="">型號 / 編號</option>'
            document.getElementById('name').innerHTML = '<option hidden select value="">品名</option>'
            var id_ = $('#company_id').val();
            var types = $('#types').val();
            $.ajax({
                url: '/get_company_product_brand/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_,
                    types: types
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0 && data.data != 'error'){
                        var show_types = '<option hidden select value="">品牌</option>'
                        for(i=0; i<data.data.length; i++){
                            show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                        }
                        document.getElementById('brand').innerHTML = show_types
                    }
                }
            });
        });


        $('#brand').change(function(){
            document.getElementById('model').innerHTML = '<option hidden select value="">型號 / 編號</option>'
            document.getElementById('name').innerHTML = '<option hidden select value="">品名</option>'
            var id_ = $('#company_id').val();
            var types = $('#types').val();
            var brand = $('#brand').val();
            $.ajax({
                url: '/get_company_product_model/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_,
                    types: types,
                    brand: brand
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0 && data.data != 'error'){
                        var show_types = '<option hidden select value="">型號 / 編號</option>'
                        for(i=0; i<data.data.length; i++){
                            show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                        }
                        document.getElementById('model').innerHTML = show_types
                    }
                }
            });
        });



        $('#model').change(function(){
            document.getElementById('name').innerHTML = '<option hidden select value="">品名</option>'
            var id_ = $('#company_id').val();
            var types = $('#types').val();
            var brand = $('#brand').val();
            var model = $('#model').val();
            $.ajax({
                url: '/get_company_product_name/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_,
                    types: types,
                    brand: brand,
                    model:model
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0){
                        var show_types = '<option hidden select value="">品名</option>'
                        for(i=0; i<data.data.length; i++){
                            show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                        }
                        document.getElementById('name').innerHTML = show_types
                    }
                }
            });
        });


        $('#reset').click(function(){
            window.location.reload();
        });

        function get_data(){
            var company_id = $('#company_id').val();
            var types = $('#types').val();
            var brand = $('#brand').val();
            var model = $('#model').val();
            var name = $('#name').val();
            var purchase_price = $('#purchase_price').val();
            var selling_price = $('#selling_price').val();
            var amount = $('#amount').val();
            var info = $('#info').val();
            var purchase_date = $('#purchase_date').val();
            var company_name = $("#company_id  option:selected").text();   //取select 的 name
            return {'company_name':company_name, 'company_id':company_id,'types':types, 'brand':brand, 'model': model, 
            'name':name,'purchase_price':purchase_price, 'selling_price': selling_price,'amount':amount,
            'info':info,'purchase_date':purchase_date}
        };

        $('#sub').click(function(){
            var data = get_data();
            if(data['company_id'] == ''){
                alert ('請選擇廠商')
            }else if(!data['types'] || data['types'].trim().length === 0){
                alert ('請選擇種類')
            }else if(!data['brand'] || data['brand'].trim().length === 0){
                alert ('請選擇品牌')
            }else if(!data['model'] || data['model'].trim().length === 0){
                alert ('請選擇型號 / 編號')
            }else if(!data['name'] || data['name'].trim().length === 0){
                alert ('請輸入品名')
            }else if(!data['purchase_price'] || data['purchase_price'].trim().length === 0){
                alert ('請輸入進價')
            }else if(!data['selling_price'] || data['selling_price'].trim().length === 0){
                alert ('請輸入售價')
            }else if(!data['amount'] || data['amount'].trim().length === 0){
                alert ('請輸入數量')
            }
            else{
                //var image = $("#image")[0].files[0]
                var image = $("#image")[0].files
                var image2 = $("#image2")[0].files
                var image3 = $("#image3")[0].files
                var upload = new FormData();                              // upload(因為image是file格式所以要跟json分開放 需用form的方式) 不能使用-> data:{data:JSON.stringify(data), image:image}
                upload.append("csrfmiddlewaretoken",$("[name='csrfmiddlewaretoken']").val());   
                //upload.append("image",image);
                upload.append("data",JSON.stringify(data));               //                           jaon類型使用 request.POST.get('data')
                if(image.length != 0){
                    upload.append("image",image[0]);                      //upload到後端會是一個object   file類型使用 request.FILES['image']
                }else{
                    upload.append("image",'')
                }
                if(image2.length != 0){
                    upload.append("image2",image2[0]);                      //upload到後端會是一個object   file類型使用 request.FILES['image']
                }else{
                    upload.append("image2",'')
                }
                if(image3.length != 0){
                    upload.append("image3",image2[0]);                      //upload到後端會是一個object   file類型使用 request.FILES['image']
                }else{
                    upload.append("image3",'')
                }
                $.ajax({
                    url: '/create_product/', 
                    type: 'POST',  
                    data: upload,
                    contentType: false,  
                    processData: false,   
                    success: function (data) {
                        var data = JSON.parse(data);
                        if(data.data == 'success'){
                            alert ('新增成功')
                            window.location.reload();
                        }else if(data.data == 'error'){
                            alert ('新增失敗')
                            window.location.reload();
                        }
                    }
                });
            }
           
        });


    </script>
{% endblock%}

