{% extends  'base.html' %}
{% load static %}
{% block title%}
<title>售出 / 銷貨</title>
{% endblock %}

{% block header%}
    <!-- Datatables -->
    <link href="{% static '/dashboard_plugin/datatable/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard_plugin/datatable/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static '/dashboard_plugin/datatable/iCheck/skins/flat/green.css' %}" rel="stylesheet">
{% endblock %}

{% block body%}
<div class="container">
    <h5>售出 / 銷貨</h5>
    <div class=" row">
        <div class="card col-lg-12 col-md-12 col-12">
            <div class="card-body">

                <div class="col-lg-6 col-md-12 col-12">
                    <div class="row my-3">
                        {% csrf_token %}
                        <div class="col-lg-6 col-md-6 col-6">
                            <h6>廠商＊</h6>
                            <select class="form-control" id="company_id">
                                <option hidden select value="">廠商</option>
                                {% if company_list %}
                                    {% for i in company_list %}
                                        <option value="{{i.id}}">{{i}}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="">沒有廠商</option>
                                {% endif %}
                            </select>
                        </div>        
                        <div class="col-lg-6 col-md-6 col-6">
                            <h6>種類＊</h6>
                            <select class="form-control" id="types">
                                <option hidden select value="">種類</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-6 col-6">
                            <h6>品牌＊</h6>
                            <select class="form-control" id="brand">
                                <option hidden select value="">品牌</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-6 col-6">
                            <h6>型號 / 編號＊</h6>
                            <select class="form-control" id="model">
                                <option hidden select value="">型號 / 編號</option>>
                            </select>
                        </div>

                        <div class="col-lg-6 col-md-6 col-6">
                            <h6>品名＊</h6>
                            <select class="form-control" id="name">
                                <option hidden select value="">品名</option>>
                            </select>                     
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-lg-6 col-md-6 col-6">
                            <h6>售出日期</h6>
                            <input class="form-control" type="date" id="selling_date">
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <h6>備註</h6>
                            <textarea style="width:100%;height:100px;" id="info"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-12" id='show_data_check' style="display: block;">
                </div>

                <div class="col-lg-6 col-md-12 col-12" id='selling_check' style="display: none;">
                    <!-- <div class="row my-3" id='selling_id39'>
                        <div class="col-lg-6 col-md-6 col-6">
                            <h6>銷貨數量＊</h6>
                            <input class="form-control" type="number" step=any id="selling_amount">
                        </div>
                        <div class="col-lg-6 col-md-6 col-6">
                            <h6>售價＊</h6>
                            <input class="form-control" type="number" step=any id="selling_price">
                        </div>
                    </div> -->
                </div>
                

                <div class="col-lg-12 col-md-12 col-12">
                    <button class="btn btn-success" id="sub">送出</button>
                    <button class="btn btn-danger" id="reset">清除</button>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <!-- iCheck -->
    <script src="{% static '/dashboard_plugin/datatable/iCheck/icheck.min.js' %}"></script>
    <!-- Datatables -->
    <script src="{% static '/dashboard_plugin/datatable/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/dashboard_plugin/datatable/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    
    <script>
        window.onload=today;
        function today() {
            var NowDate = new Date();
            var y = NowDate.getFullYear();
            var m = NowDate.getMonth() + 1;
            var d = NowDate.getDate();
            m = ("0" + m).slice(-2);
            d = ("0" + d).slice(-2);
            document.getElementById('selling_date').value = y + '-'+ m + '-' + d;
        };

        $('#company_id').change(function(){
            l = []
            product_id_l = []
            $('#show_data_check').empty();
            $('#selling_check').empty();
            var id_ = $('#company_id').val();
            document.getElementById('types').innerHTML = '<option hidden select value="">種類</option>'
            document.getElementById('brand').innerHTML = '<option hidden select value="">品牌</option>'
            document.getElementById('model').innerHTML = '<option hidden select value="">型號 / 編號</option>'
            document.getElementById('name').innerHTML = '<option hidden select value="">品名</option>'
            $.ajax({
                url: '/get_company_product_types/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0 && data.data != 'error'){
                        var show_types = '<option hidden select value="">種類</option>'
                        for(i=0; i<data.data.length; i++){
                            show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                        }
                        document.getElementById('types').innerHTML = show_types
                    }else{
                        document.getElementById('types').innerHTML ='<option hidden select value="">沒有商品</option>'
                    }
                }
            });
        });

        $('#types').change(function(){
            l = []
            product_id_l = []
            $('#show_data_check').empty();
            $('#selling_check').empty();
            document.getElementById('brand').innerHTML = '<option hidden select value="">品牌</option>'
            document.getElementById('model').innerHTML = '<option hidden select value="">型號 / 編號</option>'
            document.getElementById('name').innerHTML = '<option hidden select value="">品名</option>'
            var id_ = $('#company_id').val();
            var types = $('#types').val();
            $.ajax({
                url: '/get_company_product_brand/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_,
                    types: types
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0 && data.data != 'error'){
                        var show_types = '<option hidden select value="">品牌</option>'
                        for(i=0; i<data.data.length; i++){
                            show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                        }
                        document.getElementById('brand').innerHTML = show_types
                    }
                }
            });
        });


        $('#brand').change(function(){
            l = []
            product_id_l = []
            $('#show_data_check').empty();
            $('#selling_check').empty();
            document.getElementById('model').innerHTML = '<option hidden select value="">型號 / 編號</option>'
            document.getElementById('name').innerHTML = '<option hidden select value="">品名</option>'
            var id_ = $('#company_id').val();
            var types = $('#types').val();
            var brand = $('#brand').val();
            $.ajax({
                url: '/get_company_product_model/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_,
                    types: types,
                    brand: brand
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0 && data.data != 'error'){
                        var show_types = '<option hidden select value="">型號 / 編號</option>'
                        for(i=0; i<data.data.length; i++){
                            show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                        }
                        document.getElementById('model').innerHTML = show_types
                    }
                }
            });
        });



        $('#model').change(function(){
            l = []
            product_id_l = []
            $('#show_data_check').empty();
            $('#selling_check').empty();
            document.getElementById('name').innerHTML = '<option hidden select value="">品名</option>'
            var id_ = $('#company_id').val();
            var types = $('#types').val();
            var brand = $('#brand').val();
            var model = $('#model').val();
            $.ajax({
                url: '/get_company_product_name/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_,
                    types: types,
                    brand: brand,
                    model:model
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0){
                        var show_types = '<option hidden select value="">品名</option>'
                        for(i=0; i<data.data.length; i++){
                            show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                        }
                        document.getElementById('name').innerHTML = show_types
                    }
                }
            });
        });


        $('#name').change(function(){
            l = []
            product_id_l = []
            $('#show_data_check').empty();
            $('#selling_check').empty();
            var id_ = $('#company_id').val();
            var types = $('#types').val();
            var brand = $('#brand').val();
            var model = $('#model').val();
            var name = $('#name').val();
            $.ajax({
                url: '/get_selling_data_check/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_,
                    types: types,
                    brand: brand,
                    model:model,
                    name:name
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0){
                        var show = '<div class="x_panel"><div class="x_title"><h2>選擇銷貨商品</small></h2><div class="clearfix"></div></div><div class="x_content"><div class="row"><div class="col-sm-12"><div class="card-box table-responsive"><p class="text-muted font-13 m-b-30">DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code></p><table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" style="width:100%"><thead><tr><th><th>選擇</th></th><th>編號 / 型號</th><th>品名</th><th>進價</th><th>售價</th><th>數量</th><th>庫存數量</th><th>進貨時間</th></tr></thead><tbody>'
                        for(i=0; i<data.data.length; i++){
                            show += '<tr><td>'+i+'<th><input type="checkbox" id="'+data.data[i].product_id+'" onclick="checkbox_('+data.data[i].product_id+')" value="'+i+'"></th></td><td>'+data.data[i].model+'</td><td>'+data.data[i].name+'</td><td>'+data.data[i].purchase_price+'</td><td>'+data.data[i].selling_price+'</td><td>'+data.data[i].amount+'</td><td>'+data.data[i].product_in_stock+'</td><td>'+data.data[i].purchase_date+'</td></tr>'
                        };
                        show += '</tbody></table></div></div></div></div>'
                        document.getElementById('show_data_check').innerHTML = show
                        document.getElementById('show_data_check').style.display = 'block'
                    }else{
                        alert ('沒有庫存商品')
                    }
                }
            });
        });

        var l = []
        var product_id_l = []
        function checkbox_(product_id){
            $('#selling_check').empty();
            var checkbox_val = $('#'+product_id).val();
            if(document.getElementById(product_id).checked){
                var s = '<div class="row my-3" ><div class="col-lg-6 col-md-6 col-6"><h6>'+checkbox_val+'.銷貨數量＊</h6><input class="form-control" type="number" step=any id="selling_amount_'+product_id+'"></div><div class="col-lg-6 col-md-6 col-6"><h6>售出價＊</h6><input class="form-control" type="number" step=any id="selling_price_'+product_id+'"></div></div>'
                if(!l.includes(s)){
                    l.push(s)
                }
                if(!product_id_l.includes(product_id)){
                    product_id_l.push(product_id)
                }
                for(i=0; i<l.length; i++){
                    document.getElementById('selling_check').innerHTML += l[i]
                };
            }else{
                var index_ = l.indexOf('<div class="row my-3" ><div class="col-lg-6 col-md-6 col-6"><h6>'+checkbox_val+'.銷貨數量＊</h6><input class="form-control" type="number" step=any id="selling_amount_'+product_id+'"></div><div class="col-lg-6 col-md-6 col-6"><h6>售出價＊</h6><input class="form-control" type="number" step=any id="selling_price_'+product_id+'"></div></div>');
                l.splice(index_, 1);

                var product_id_index = l.indexOf(product_id);
                product_id_l.splice(product_id_index, 1);

                for(i=0; i<l.length; i++){
                    document.getElementById('selling_check').innerHTML += l[i]
                };
            };
            document.getElementById('selling_check').style.display = 'block'
        }
        
        $('#sub').click(function(){
            if(product_id_l.length != 0){
                for(i=0; i<product_id_l.length; i++){
                    $('#selling_amount_'+product_id_l[i])
                    $('#selling_price_'+product_id_l[i])
                };
            }else{
                alert ('Error')
            }
        });


        //window.onload=get_amount;
        function get_amount(){
          　setTimeout('get_amount()',1000);
        }
        $(document).ready(function(){
            $('#selling_amount').change(function(){
                var selling_amount = $('#selling_amount').val();
                console.log(selling_amount)
            });
            $('#selling_price').change(function(){
                var selling_price = $('#selling_price').val();
                console.log(selling_price)
            })
        });


    </script>

{% endblock %}
