{% extends  'base.html' %}
{% load static %}
{% block title%}
<title>售出 / 銷貨</title>
{% endblock %}

{% block css %}

<style>
    *{
        font-family:"Arial","蘋方體","微軟正黑體",sans-serif
      }
    body {
        background-color:rgb(241, 241, 241);
    }
  
    .lightbox{
        z-index:9999;
        position: fixed;
        left: 0;    /* 靠左上角定位 */
        top: 0;	  
        width: 100%;
        height: 100vh;    /* view-width. height  */
        background-color: rgba(0,0,0,.5);
        align-items: center;
        justify-content: center;
        display: none;
    }
    .lightbox.active{
        display: flex;
    }
    .content_selling_check{
        width: 250px;
        height: 150px;
        background-color: #ccc;
        border-radius: 10px;
        display:flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow-y:auto;
    }


</style>
{% endblock%}


{% block body%}
<div class="container">

    <div class="lightbox">
        <div class="content_selling_check">
            <div>
                <h5>確定要送出？</h5><br>
                <div>
                    <button class="btn btn-success" id='selling_true'>確認</button>
                    <button class="btn btn-danger" id="close_selling_check">取消</button>
                </div>
            </div>
        </div>
    </div>

    <h5>售出 / 銷貨</h5>
    <div class=" row">
        <div class="card col-lg-12 col-md-12 col-12">
            <div class="card-body">
                <div class="row my-3">
                    {% csrf_token %}
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>廠商＊</h6>
                        <select class="form-control" id="company_id">
                            <option hidden select value="">廠商</option>
                            {% if company_list %}
                                {% for i in company_list %}
                                    <option value="{{i.id}}">{{i}}</option>
                                {% endfor %}
                            {% else %}
                                <option value="">沒有廠商</option>
                            {% endif %}
                        </select>
                    </div>        
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>種類＊</h6>
                        <select class="form-control" id="types">
                            <option hidden select value="">種類</option>
                        </select>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>品牌＊</h6>
                        <select class="form-control" id="brand">
                            <option hidden select value="">品牌</option>
                        </select>
                    </div>
                </div>
    
                <div class="row my-3">
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>型號 / 編號＊</h6>
                        <select class="form-control" id="model">
                            <option hidden select value="">型號 / 編號</option>>
                        </select>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>品名＊</h6>
                        <select class="form-control" id="name">
                            <option hidden select value="">品名</option>>
                        </select>                     
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-lg-8 col-md-12 col-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>選擇銷貨商品＊</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-box table-responsive">
                                            <p class="text-muted font-13 m-b-30">
                                                選擇銷貨商品
                                            </p>
                                            <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <th>銷貨</th>
                                                        </th>
                                                        <th>廠商</th>
                                                        <th>型號 / 編號</th>
                                                        <th>品名</th>
                                                        <th>進價</th>
                                                        <th>售價</th>
                                                        <th>庫存</th>
                                                        <th>進貨日期</th>
                                                    </tr>
                                                </thead>
                        
                                                <tbody id='show_radio'></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    
                <div class="row my-3" id='show_selling'>
                    <!-- <div class="col-lg-3 col-md-6 col-6">
                        <h6>銷貨數量＊</h6>
                        <input class="form-control" type="number" step=any id="selling_amount" max="3" min="1" value="1" oninput="if(value>3)value=3;">
                    </div>
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>售出單價＊</h6>
                        <input class="form-control" type="number" step=any id="selling_price">
                    </div>
                    <div class="col-lg-3 col-md-6 col-6">
                        <br>
                        <button class="btn btn-success" onclick="sum_btn()">計算總價</button>
                        <p class="btn" disabled>總價：10,000</p>
                    </div> -->
                </div>

                    
                <div class="row my-3">
                    <div class="col-lg-3 col-md-6 col-6">
                        <h6>售出日期</h6>
                        <input class="form-control" type="date" id="selling_date">
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-lg-6 col-md-12 col-12">
                        <h6>備註</h6>
                        <textarea style="width:100%;height:100px;" id="info"></textarea>
                    </div>
                </div>
    
                <button class="btn btn-success" id="sub">送出</button>
                <button class="btn btn-danger" id="reset">清除</button>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}

    <script>
        window.onload=today;
        function today() {
            var NowDate = new Date();
            var y = NowDate.getFullYear();
            var m = NowDate.getMonth() + 1;
            var d = NowDate.getDate();
            m = ("0" + m).slice(-2);
            d = ("0" + d).slice(-2);
            document.getElementById('selling_date').value = y + '-'+ m + '-' + d;
        };

        $('#company_id').change(function(){
            $('#show_radio').empty();
            $('#show_selling').empty();
            var id_ = $('#company_id').val();
            document.getElementById('types').innerHTML = '<option hidden select value="">種類</option>'
            document.getElementById('brand').innerHTML = '<option hidden select value="">品牌</option>'
            document.getElementById('model').innerHTML = '<option hidden select value="">型號 / 編號</option>'
            document.getElementById('name').innerHTML = '<option hidden select value="">品名</option>'
            $.ajax({
                url: '/get_company_product_types/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0 && data.data != 'error'){
                        var show_types = '<option hidden select value="">種類</option>'
                        for(i=0; i<data.data.length; i++){
                            show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                        }
                        document.getElementById('types').innerHTML = show_types
                    }else{
                        document.getElementById('types').innerHTML ='<option hidden select value="">沒有商品</option>'
                    }
                }
                
            });
        });

        $('#types').change(function(){
            $('#show_radio').empty();
            $('#show_selling').empty();
            document.getElementById('brand').innerHTML = '<option hidden select value="">品牌</option>'
            document.getElementById('model').innerHTML = '<option hidden select value="">型號 / 編號</option>'
            document.getElementById('name').innerHTML = '<option hidden select value="">品名</option>'
            var id_ = $('#company_id').val();
            var types = $('#types').val();
            $.ajax({
                url: '/get_company_product_brand/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_,
                    types: types
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0 && data.data != 'error'){
                        var show_types = '<option hidden select value="">品牌</option>'
                        for(i=0; i<data.data.length; i++){
                            show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                        }
                        document.getElementById('brand').innerHTML = show_types
                    }
                }
            });
        });


        $('#brand').change(function(){
            $('#show_radio').empty();
            $('#show_selling').empty();
            document.getElementById('model').innerHTML = '<option hidden select value="">型號 / 編號</option>'
            document.getElementById('name').innerHTML = '<option hidden select value="">品名</option>'
            var id_ = $('#company_id').val();
            var types = $('#types').val();
            var brand = $('#brand').val();
            $.ajax({
                url: '/get_company_product_model/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_,
                    types: types,
                    brand: brand
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0 && data.data != 'error'){
                        var show_types = '<option hidden select value="">型號 / 編號</option>'
                        for(i=0; i<data.data.length; i++){
                            show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                        }
                        document.getElementById('model').innerHTML = show_types
                    }
                }
            });
        });



        $('#model').change(function(){
            $('#show_radio').empty();
            $('#show_selling').empty();
            document.getElementById('name').innerHTML = '<option hidden select value="">品名</option>'
            var id_ = $('#company_id').val();
            var types = $('#types').val();
            var brand = $('#brand').val();
            var model = $('#model').val();
            $.ajax({
                url: '/get_company_product_name/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_,
                    types: types,
                    brand: brand,
                    model:model
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data.length != 0){
                        var show_types = '<option hidden select value="">品名</option>'
                        for(i=0; i<data.data.length; i++){
                            show_types += '<option value="'+data.data[i]+'">'+data.data[i]+'</option>'
                        }
                        document.getElementById('name').innerHTML = show_types
                    }
                }
            });
        });


        $('#name').change(function(){
            $('#show_radio').empty();
            $('#show_selling').empty();
            var id_ = $('#company_id').val();
            var types = $('#types').val();
            var brand = $('#brand').val();
            var model = $('#model').val();
            var name = $('#name').val();
            $.ajax({
                url: '/get_selling_data_check/', 
                type: 'POST',  
                headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                data: {
                    company_id: id_,
                    types: types,
                    brand: brand,
                    model:model,
                    name:name
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if(data.data != ''){
                        for(i=0; i<data.data.length; i++){
                            document.getElementById('show_radio').innerHTML += '<tr><td><th><input type="radio" name="radio" id="'+data.data[i].product_id+'" value='+data.data[i].product_id+' onclick="get_radio('+data.data[i].product_id+','+data.data[i].product_in_stock+')"></th></td><td>'+data.data[i].company_name+'</td><td>'+data.data[i].model+'</td><td>'+data.data[i].name+'</td><td>'+data.data[i].purchase_price+'</td><td>'+data.data[i].selling_price+'</td><td>'+data.data[i].product_in_stock+'</td><td>'+data.data[i].purchase_date+'</td></tr>'
                        }
                    }else{
                        alert ('沒有庫存')
                    }
                }
            });
        });

        var _id =''
        function get_radio(product_id, product_in_stock){
            _id = product_id
            if(document.getElementById(product_id).checked){
                document.getElementById('show_selling').innerHTML = '<div class="col-lg-3 col-md-6 col-6"><h6>銷貨數量＊</h6><input class="form-control" type="number" step=any id="selling_amount" max="'+product_in_stock+'" min="1" value="1" oninput="if(value>'+product_in_stock+')value='+product_in_stock+';"></div><div class="col-lg-3 col-md-6 col-6"><h6>售出單價＊</h6><input class="form-control" type="number" step=any id="selling_price"></div><div class="col-lg-3 col-md-6 col-6"><br><button type="btn" class="btn btn-success" onclick="sum_btn()">計算總金額</button><p style="color:brown" class="btn" disabled id="show_sum"></p></div>'
            }
        };

        function sum_btn(){
            var selling_amount = $('#selling_amount').val();
            var selling_price = $('#selling_price').val();
            if(selling_amount == 0){
                alert ('銷售數量不得為0')
            }else if(selling_amount != '' && selling_price != ''){
                var sum_ = selling_amount * selling_price
                document.getElementById('show_sum').innerHTML = '總金額：' + sum_.toLocaleString('zh-Hant', { maximumFractionDigits: 2 })
            }else{
                alert ('請輸入銷售數量 / 售出單價')
            }
        }

        function get_data(){
            var company_id = $('#company_id').val();
            var types = $('#types').val();
            var brand = $('#brand').val();
            var model = $('#model').val();
            var name = $('#name').val();
            var selling_amount = $('#selling_amount').val();
            var selling_price = $('#selling_price').val();
            var selling_date = $('#selling_date').val();
            var info = $('#info').val();
            var product_id = _id;
            var company_name = $("#company_id  option:selected").text(); 
            return {'company_name':company_name, 'company_id':company_id,'types':types, 'brand':brand, 'model': model, 
            'name':name,'selling_amount':selling_amount, 'selling_price': selling_price,'selling_date':selling_date,
            'info':info,'product_id':product_id}
        };

        var post_type = false
        $('#sub').click(function(){
            var data = get_data()
            if(data['company_id'] == ''){
                alert ('請選擇廠商')
            }else if(!data['types'] || data['types'].trim().length === 0){
                alert ('請選擇種類')
            }else if(!data['brand'] || data['brand'].trim().length === 0){
                alert ('請選擇品牌')
            }else if(!data['model'] || data['model'].trim().length === 0){
                alert ('請選擇型號 / 編號')
            }else if(!data['name'] || data['name'].trim().length === 0){
                alert ('請輸入品名')
            }else if (data['selling_amount'] == 0){
                alert ('銷售數量不得為0')
            }else if (data['selling_amount'].trim().length === 0){
                alert ('請輸入銷貨數量')
            }else if(!data['selling_price'] || data['selling_price'].trim().length === 0){
                alert ('請輸入售出單價')
            }else{
                post_type = true
                $('.lightbox').addClass('active')
            }
        });

        $('#selling_true').click(function(){
            if(post_type == true){
                var data = get_data()
                $.ajax({
                    url: '/selling/', 
                    type: 'POST',  
                    headers: {'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()},
                    data: {
                        data: JSON.stringify(data),
                    },
                    success: function (data) {
                        var data = JSON.parse(data);
                        if(data.data == 'success'){
                            alert ('銷售成功')
                            window.location.reload()
                        }else{
                            alert ('Error')
                        }
                    }
                });
            }
        });

        $('#close_selling_check').click(function(){
            post_type = false
            $('.lightbox').removeClass('active')
        });

        $('#reset').click(function(){
            window.location.reload()
        });
   

    </script>

{% endblock %}

